<form #formulaire='ngForm'>
  <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">
    Veuillez saisir un email valide
  </div>
  <div class="col-md-4 col-sm-3">
  <label for="email">Email</label>
  <input id="email"
         type="email"
         class="form-control"
         name="email"
         ngModel
         #email ='ngModel'
         email
         required
  >
  <label for="pwd">Password</label>
  <input id="pwd"
         type="password"
         class="form-control"
         name="password"
         ngModel
         required
  >
  </div>
</form>
<br>
<div class="col-md-4 col-sm-3">

<button [disabled]="formulaire.invalid" (click)="login2(formulaire)" class="btn btn-primary">Login</button>
</div>
